<ul *ngIf="auth.isAuthenticated()" class="list-group">
    <li *ngFor="let question of questions" class="list-group-item">{{ question.description }}
        <div class="pull-right"> <span (click)="remove(question)" class="glyphicon glyphicon-remove"></span></div>
    </li>
</ul>

<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
