<h4 *ngIf="auth.isAuthenticated()">
    You are logged in!
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a class="on-click" (click)="auth.login()">Log In</a> to continue.
</h4>
