<div *ngIf="auth.isAuthenticated()">
<h1>Add new Category</h1>

<form #f="ngForm" (ngSubmit)="onCreate(categoryName)">
    <div class="form-group">
        <label for="categoryName">Category name</label>
        <input required minlength="5" pattern="[a-zA-Z ]*" ngModel type="text" name="categoryName" #categoryName="ngModel" class="form-control" />
        <div class="alert alert-danger" *ngIf="categoryName.touched && !categoryName.valid">
            <div *ngIf="categoryName.errors.required">Category name is required.</div>
            <div *ngIf="categoryName.errors.minlength">Category name should be at least 5 characters.</div>
            <div *ngIf="categoryName.errors.pattern">Category cannot include numbers.</div>
        </div>
    </div>
    <p>{{ f.value | json }}</p>
    <button class="btn btn-default" [disabled]="!f.valid">Save</button>
</form>

<hr/>
<ul class="list-group">
    <li *ngFor="let category of categories" class="list-group-item">
        {{category.id}} - {{category.categoryName}}
        <div class="pull-right">
            <span (click)="remove(category)" class="glyphicon glyphicon-remove"></span>
        </div>
    </li>
</ul>
</div>

<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
