<div *ngIf="auth.isAuthenticated()">
<div class="col-md-4">
    <h2>New Question</h2>
    <form #f="ngForm" (ngSubmit)="createQuestion(f)">
        <div class="form-group"><label for="description">
    Question Description
  </label>
            <input required ngModel name="description" type="text" #questionName="ngModel" class="form-control">
            <div class="alert alert-danger" *ngIf="questionName.touched && !questionName.valid">First Name is required</div>
        </div>
        <div class="form-group">
            <label for="isAnswerYes">

      <input ngModel type="checkbox" name="isAnswerYes" id="isAnswerYes"> is answer yes?
    </label>
        </div>
        <div class="form-group">
            <select required ngModel class="form-control" name="categoryId" #category="ngModel" id="">
        <option value="" disabled>Choose category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</option>
      </select>
            <div class="alert alert-danger" *ngIf="category.touched && !category.valid">Category is required</div>
        </div>
        <p>{{f.value | json}}</p>
        <button class="btn btn-default" type="submit" [disabled]="!f.form.valid">Save</button>
    </form>
</div>
</div>

<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
